@charset "UTF-8";
html {
  font-size: 10px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.visible-on-mobile {
  display: none;
}

h1 {
  font-size: 4rem;
}

h1,
h2,
h3 {
  font-family: "Pacifico";
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2rem;
}

a {
  font-size: 2rem;
  text-decoration: none;
  /*font-family: 'Roboto';*/
}

p {
  font-size: 1.6rem;
}

.link {
  background-color: #fec201;
  color: #2f2f2f;
  padding: 1rem 2rem;
  display: inline-block;
  text-transform: uppercase;
  font-weight: bold;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 4rem;
  padding-right: 4rem;
  position: absolute;
  width: 100vw;
}
.navbar .menu {
  display: none;
}
.navbar .nav-items {
  display: flex;
}
.navbar .nav-items .nav-item {
  padding: 4rem;
}
.navbar a {
  color: #ffffff;
  text-decoration: none;
}
.navbar a:hover {
  text-decoration: underline;
}
.navbar .search button {
  background-color: transparent;
  border: 0;
  font-size: 2rem;
  color: #ffffff;
}
.navbar .search button:hover {
  cursor: pointer;
}

.header {
  background: url(images/header1.png);
  background-repeat: no-repeat;
  background-color: #2f2f2f;
  height: 790px;
  overflow: hidden;
}
.header .header-content {
  background: url(images/header2.png);
  background-repeat: no-repeat;
  background-position-y: -80px;
  background-position-x: 440px;
  width: 100vw;
  height: 100vh;
}

.content {
  padding: 2rem;
}

@media only screen and (max-width: 600px) {
  .navbar {
    padding: 0;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    position: absolute;
    background-color: rgba(47, 47, 47, 0.7254901961);
    /* display: none;*/
  }
  .navbar .brand-logo {
    position: absolute;
    top: 2.5rem;
    right: 2rem;
  }
  .navbar .menu {
    display: block;
    padding: 2rem;
  }
  .navbar .menu a {
    font-size: 3rem;
  }
  .navbar .nav-items {
    display: none;
    width: 100%;
  }
  .navbar .nav-items .nav-item {
    padding: 2rem;
  }
  .navbar .nav-items.active {
    display: block;
  }
  .navbar .nav-items.active .visible-on-mobile {
    display: block;
  }
  .navbar .nav-items.active .search {
    display: flex;
  }
  .navbar .nav-items.active .search input[type=text] {
    height: 4rem;
    width: 100%;
    padding-left: 2rem;
    padding-right: 2rem;
    font-size: 1.5rem;
  }
  .navbar .nav-items.active .search button {
    position: absolute;
    color: #2f2f2f;
    right: 2rem;
    height: 4rem;
    width: 4rem;
    z-index: 2;
  }
  /*Fejléc formázása*/
  .header {
    height: 100vh;
    max-height: 796px; /*max magasság a kép mérete miatt*/
  }
  .header .header-content {
    background-position-y: 380px;
    background-position-x: 240px;
    /* background-color: #2f2f2f6e;*/
    height: 100vh;
    color: #fec201;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    gap: 10rem;
    text-align: left;
    padding: 2rem;
  }
  .header .header-content h1,
.header .header-content p {
    background-color: rgba(47, 47, 47, 0.6980392157);
    border-radius: 0.5rem;
    padding: 1rem;
  }
  .best-seller {
    text-align: center;
  }
  .best-seller .items {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    padding-top: 4rem;
  }
  .best-seller .items .item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;
  }
  .best-seller .items .item div image {
    margin: 0 auto;
  }
  .best-seller .items .item:before {
    content: "";
    background-color: #2f2f2f;
    width: 100%;
    height: 1px;
    box-shadow: 1px 3px 5px #2f2f2f;
  }
  .oriental-taste {
    padding: 0;
    color: #fec201;
  }
  .oriental-taste p {
    padding: 2rem 0;
  }
  .oriental-taste .oriental-taste-header {
    padding: 2rem;
    background-image: url(images/bg.png);
    background-size: 260%;
  }
  .oriental-taste .oriental-taste-header img {
    width: 80%;
  }
  .oriental-taste .oriental-taste-body {
    padding: 2rem;
    background-color: #2f2f2f;
  }
  .oriental-taste .oriental-taste-body .statistics {
    padding-top: 2rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
  }
  .oriental-taste .oriental-taste-body .statistics .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4rem;
    border: 0.5rem solid #ffffff;
    border-radius: 50%;
    width: 12rem;
    height: 12rem;
    text-align: center;
    font-size: 1.8rem;
    text-transform: uppercase;
  }
  .oriental-taste .oriental-taste-body .statistics .item .count {
    color: #fec201;
  }
  .oriental-taste .oriental-taste-body .statistics .item .text {
    color: #ffffff;
  }
  .oriental-taste .oriental-taste-footer {
    padding: 2rem;
    height: 400px;
    background-image: url(images/bg-footer.png);
    background-repeat: no-repeat;
    background-position-y: -400px;
    background-position-x: -400px;
    background-size: 260%;
    position: relative;
  }
  .oriental-taste .oriental-taste-footer img {
    width: 60%;
    position: absolute;
    right: 0;
    bottom: -5rem;
  }
  .quote {
    margin-top: 15rem;
    background: linear-gradient(0deg, rgba(218, 233, 12, 0.3), rgba(233, 164, 17, 0.774)), url("images/bg-quote.png");
    background-position-x: 0, -14rem;
    background-position-y: 0, -24rem;
    padding: 10rem 2rem;
    font-size: 2rem;
    font-weight: 500;
    text-align: center;
  }
  .quote h3 {
    padding-top: 2rem;
  }
  .subscribe {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  .subscribe .subscribe-form {
    font-size: 2rem;
  }
  .subscribe .subscribe-form input[type=email] {
    border: 1px solid rgb(243, 238, 238);
    padding: 1rem;
  }
  .subscribe .subscribe-form button {
    background-color: #fec201;
    /*border-t használom az input és a button elem közti magasság kiküszöbölésére*/
    border: 1px solid #fec201;
    padding: 1rem;
    text-transform: capitalize;
  }
}/*# sourceMappingURL=style.css.map */