$white: #ffffff;

$primary-color: #fec201;
$bg-color: #2f2f2f;

html {
    font-size: 10px;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.visible-on-mobile {
    display: none;
}
h1 {
    font-size: 4rem;
}
h1,
h2,
h3 {
    font-family: "Pacifico";
}
h2 {
    font-size: 3rem;
}
h3 {
    font-size: 2rem;
}
a {
    font-size: 2rem;
    text-decoration: none;
    /*font-family: 'Roboto';*/
}
p {
    font-size: 1.6rem;
}

.link {
    background-color: $primary-color;
    color: $bg-color;
    padding: 1rem 2rem;
    display: inline-block;
    text-transform: uppercase;
    font-weight: bold;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 4rem;
    padding-right: 4rem;
    position: absolute;
    width: 100vw;

    .menu {
        display: none;
    }
    .nav-items {
        display: flex;

        .nav-item {
            padding: 4rem;
        }
    }
    a {
        color: $white;
        text-decoration: none;
    }
    a:hover {
        text-decoration: underline;
    }
    .search {
        button {
            background-color: transparent;
            border: 0;
            font-size: 2rem;
            color: $white;
        }
        button:hover {
            cursor: pointer;
        }
    }
}

.header {
    background: url(images/header1.png);
    background-repeat: no-repeat;
    background-color: $bg-color;
    height: 796px;
    overflow: hidden;

    .header-content {
        background: url(images/header2.png);

        background-repeat: no-repeat;
        background-position-y: -80px;
        background-position-x: 440px;
        width: 100vw;
        height: 100vh;
        max-height: 796px;
    }
}

.content {
    padding: 2rem;
}

/*
X-Small	None	<576px
Small	sm	≥576px
Medium	md	≥768px
Large	lg	≥992px
Extra large	xl	≥1200px
Extra extra large	xxl	≥1400px
*/
/*Small devices */
@media only screen and(max-width:600px) {
    .navbar {
        padding: 0;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        position: absolute;
        background-color: #2f2f2fb9;
        .brand-logo {
            position: absolute;
            top: 2.5rem;
            right: 2rem;
        }
        .menu {
            display: block;
            padding: 2rem;

            a {
                font-size: 3rem;
            }
        }
        .nav-items {
            display: none;
            width: 100%;
            .nav-item {
                padding: 2rem;
            }
        }
        .nav-items.active {
            display: block;

            .visible-on-mobile {
                display: block;
            }

            .search {
                display: flex;

                input[type="text"] {
                    height: 4rem;
                    width: 100%;
                    padding-left: 2rem;
                    padding-right: 2rem;
                    font-size: 1.5rem;
                }
                button {
                    position: absolute;
                    color: $bg-color;
                    right: 2rem;
                    height: 4rem;
                    width: 4rem;
                    z-index: 2;
                }
            }
        }

        /* display: none;*/
    }
    /*Fejléc formázása*/
    .header {
        height: 100vh;
        max-height: 796px; /*max magasság a kép mérete miatt*/

        .header-content {
            background-position-y: 380px;
            background-position-x: 240px;
            /* background-color: #2f2f2f6e;*/
            height: 100vh;
            
            color: $primary-color;
            display: flex;
            flex-direction: column;

            justify-content: center;
            align-content: center;
            gap: 10rem;

            text-align: left;
            padding: 2rem;

            h1,
            p {
                background-color: #2f2f2fb2;
                border-radius: 0.5rem;
                padding: 1rem;
            }
        }
    }

    .best-seller {
        text-align: center;
        .items {
            display: flex;
            flex-direction: column;

            gap: 4rem;
            padding-top: 4rem;
            .item {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 4rem;
                div {
                    image {
                        margin: 0 auto;
                    }
                }
            }
            .item:before {
                content: "";
                background-color: #2f2f2f;
                width: 100%;
                height: 1px;
                box-shadow: 1px 3px 5px $bg-color;
            }
        }
    }
    .oriental-taste {
        padding: 0;
        color: $primary-color;
        p {
            padding: 2rem 0;
        }
        .oriental-taste-header {
            padding: 2rem;
            background-image: url(images/bg.png);
            background-size: 260%;
            img {
                width: 80%;
            }
        }
        .oriental-taste-body {
            padding: 2rem;
            background-color: $bg-color;
            .statistics {
                padding-top: 2rem;
                display: flex;

                flex-direction: row;
                flex-wrap: wrap;
                justify-content: center;

                gap: 2rem;
                .item {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;

                    padding: 4rem;
                    border: 0.5rem solid $white;
                    border-radius: 50%;

                    width: 12rem;
                    height: 12rem;
                    text-align: center;
                    font-size: 1.8rem;
                    text-transform: uppercase;
                    .count {
                        color: $primary-color;
                    }
                    .text {
                        color: $white;
                    }
                }
            }
        }
        .oriental-taste-footer {
            padding: 2rem;
            height: 400px;
            background-image: url(images/bg-footer.png);
            background-repeat: no-repeat;
            background-position-y: -400px;
            background-position-x: -400px;
            background-size: 260%;
            position: relative;
            img {
                width: 60%;
                position: absolute;
                right: 0;
                bottom: -5rem;
            }
        }
    }

    .quote {
        margin-top: 15rem;
        background: linear-gradient(0deg, rgba(218, 233, 12, 0.3), rgba(233, 164, 17, 0.774)),
            url("images/bg-quote.png");
        background-position-x: 0, -14rem;
        background-position-y: 0, -24rem;

        padding: 10rem 2rem;
        font-size: 2rem;
        font-weight: 500;
        text-align: center;
        h3 {
            padding-top: 2rem;
        }
    }

    .subscribe {
        text-align: center;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        padding: 10rem 0;
        .subscribe-form {
            font-size: 2rem;
            input[type="email"] {
                border: 1px solid rgb(243, 238, 238);
                padding: 1rem;
            }
            button {
                background-color: $primary-color;

                /*border-t használom az input és a button elem közti magasság kiküszöbölésére*/
                border: 1px solid $primary-color;
                padding: 1rem;
                text-transform: capitalize;
            }
        }
    }

    .footer {
        display: flex;
        background-color: $bg-color;
        color: $white;
        h3 {
            font-family: "Roboto";
        }
        .text {
            display: flex;
            flex-direction: column;

            justify-content: center;
            gap: 2rem;
            padding-right: 2rem;
            .social {
                font-size: 3rem;
                display: flex;
                justify-content: space-between;
            }
        }
        .nav {
            ul {
                list-style-type: none;
                padding: 2rem 0;
                li {
                    padding: 0.2rem 0;
                    a {
                        font-weight: 100;
                        color: $white;
                    }
                }
            }
        }
    }
}

/*

    Tablets Airpad ... etc

*/

@media only screen and(min-width:600px) {
    .navbar {
        padding: 0;
        flex-direction: column;
        justify-content: flex-start;

        align-items: flex-start;

        position: absolute;
        background-color: #2f2f2fb9;
        .brand-logo {
            position: absolute;
            top: 2.5rem;
            right: 2rem;
        }
        .menu {
            display: block;
            padding: 2rem;

            a {
                font-size: 3rem;
            }
        }
        .nav-items {
            display: none;
            width: 100%;
            .nav-item {
                padding: 2rem;
            }
        }
        .nav-items.active {
            display: block;

            .visible-on-mobile {
                display: block;
            }

            .search {
                display: flex;

                input[type="text"] {
                    height: 4rem;
                    width: 100%;
                    padding-left: 2rem;
                    padding-right: 2rem;
                    font-size: 1.5rem;
                }
                button {
                    position: absolute;
                    color: $bg-color;
                    right: 2rem;
                    height: 4rem;
                    width: 4rem;
                    z-index: 2;
                }
            }
        }

        /* display: none;*/
    }
    /*Fejléc formázása*/
    .header {
        height: 100vh;
        max-height: 796px; /*max magasság a kép mérete miatt*/

        .header-content {
            background-position-y: -50px;
            background-position-x: 440px;
            /* background-color: #2f2f2f6e;*/
            height: 100vh;

            color: $primary-color;
            display: flex;
            flex-direction: column;

            justify-content: flex-end;

            align-content: center;
            gap: 2rem;

            text-align: left;
            padding: 2rem;

            h1,
            p {
                background-color: #2f2f2fb2;
                border-radius: 0.5rem;
                padding: 1rem;
            }
        }
    }

    .best-seller {
        text-align: center;
        .items {
            display: flex;
            flex-direction: column;

            gap: 4rem;
            padding-top: 4rem;
            .item {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 4rem;
                div {
                    image {
                        margin: 0 auto;
                    }
                }
            }
            .item:before {
                content: "";
                background-color: #2f2f2f;
                width: 100%;
                height: 1px;
                box-shadow: 1px 3px 5px $bg-color;
            }
        }
    }
    .oriental-taste {
        padding: 0;
        color: $primary-color;
        p {
            padding: 2rem 0;
        }
        .oriental-taste-header {
            padding: 2rem;
            background-image: url(images/bg.png);
            background-size: 260%;
            img {
                width: 60%;
            }
        }
        .oriental-taste-body {
            padding: 2rem;
            background-color: $bg-color;
            .statistics {
                padding-top: 2rem;
                display: flex;

                flex-direction: row;
                flex-wrap: wrap;
                justify-content: center;

                gap: 2rem;
                .item {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;

                    padding: 4rem;
                    border: 0.5rem solid $white;
                    border-radius: 50%;

                    width: 12rem;
                    height: 12rem;
                    text-align: center;
                    font-size: 1.8rem;
                    text-transform: uppercase;
                    .count {
                        color: $primary-color;
                    }
                    .text {
                        color: $white;
                    }
                }
            }
        }
        .oriental-taste-footer {
            padding: 2rem;
            height: 400px;
            background-image: url(images/bg-footer.png);
            background-repeat: no-repeat;
            background-position-y: -900px;
            background-position-x: -800px;
            background-size: 230%;
            position: relative;
            img {
                width: 60%;
                position: absolute;
                right: 0;
                bottom: -20rem;
            }
        }
    }

    .quote {
        margin-top: 30rem;
        background: linear-gradient(0deg, rgba(218, 233, 12, 0.3), rgba(233, 164, 17, 0.774)),
            url("images/bg-quote.png");
        background-position-x: 0, -14rem;
        background-position-y: 0, -24rem;

        padding: 10rem 2rem;
        font-size: 2rem;
        font-weight: 500;
        text-align: center;
        h3 {
            padding-top: 2rem;
        }
    }

    .subscribe {
        text-align: center;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        padding: 10rem 0;
        .subscribe-form {
            font-size: 2rem;
            input[type="email"] {
                border: 1px solid rgb(243, 238, 238);
                padding: 1rem;
            }
            button {
                background-color: $primary-color;

                /*border-t használom az input és a button elem közti magasság kiküszöbölésére*/
                border: 1px solid $primary-color;
                padding: 1rem;
                text-transform: capitalize;
            }
        }
    }

    .footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: $bg-color;
        color: $white;
        h3 {
            font-family: "Roboto";
        }
        .text {
            display: flex;
            flex-direction: column;

            gap: 2rem;
            padding-right: 2rem;
            width: 50%;
            .social {
                font-size: 3rem;
                display: flex;
                justify-content: space-between;
            }
        }
        .nav {
            margin-top: 4rem;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            gap: 5rem;
            ul {
                list-style-type: none;
                padding: 2rem 0;
                li {
                    padding: 0.2rem 0;
                    a {
                        font-weight: 100;
                        color: $white;
                    }
                }
            }
        }
    }
}

/* for desktop */
@media only screen and(min-width:992px) {
    html{
        font-size:10px;
    }
    .link{
        font-size: 4rem;
    }
    .navbar {
        flex-direction: row;
        align-items: center;
        padding: 0 2rem;
        width: 100%;

        .brand-logo {
            position: static;
        }

        .menu {
            display: none;
        }
        .nav-items {
            align-items: end;
            
            display: flex;

            justify-content: flex-end;
            a{
                font-size: 4rem;
            }
        }
        .search{
            margin-left:10rem;
            button{
                font-size: 4rem;
            }
        }

        /* display: none;*/
    }
    /*Fejléc formázása*/
    .header {
        height: 796px;
        max-height: 796px; /*max magasság a kép mérete miatt*/
        
        
        .header-content {
            /* background-color: #2f2f2f6e;*/
            
            display: flex;
            align-items: flex-end;
            height: 100%;

            justify-content: center;

            gap: 10rem;

            
            padding: 2rem;
            padding-right: 20rem;
            h1{
                font-size: 10rem;
            }
            h1,
            p {
                background-color: #2f2f2fb2;
                border-radius: 0.5rem;
                padding: 1rem;
                max-width: 50%;
            }
        }
    }
    p{
        font-size: 3rem;
    }
    h3 {
        padding-top: 2rem;
        font-size: 5rem;
    }

   
    .content{
        h2{
            font-size: 8rem;
        }
        padding: 20rem 0;
    }
    .best-seller {
        text-align: center;
        margin-top: 10rem;
        padding: 20rem;
        
        
        h2{
            padding: 10rem;

        }
        p{
            padding: 10rem;
        }
        .items {
            display: flex;
            flex-direction: row;

            flex-wrap: wrap;
            justify-content: center;
            gap: 4rem;
            
            .item {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                
                width: calc((100vw - 48rem - 5rem) / 3);
                min-width: 60rem;
                gap: 4rem;
                div {
                    image {
                        margin: 0 auto;
                    }
                }
            }
            .item:before {
                content: "";
                background-color: #2f2f2f;
                width: 0;
                height: 0;
                box-shadow: none;
            }
        }
    }
    .oriental-taste {
        
        color: $primary-color;
        p {
            padding: 2rem 0;
        }
        .oriental-taste-header {
            padding: 10rem 20rem;
            height: 80vh;
            background-image: url(images/bg-4k.png);
            background-repeat: no-repeat;
            
            background-size: 120vw 120vh;
            
            
            background-position-x: -15vw;
            background-position-y: 15vh;
            
            img {
                width: 400px;
            }
        }
        .oriental-taste-body {
            padding: 10rem 20rem;
            background-color: $bg-color;
            .statistics {
                padding-top: 20rem;
                display: flex;

                flex-direction: row;
                flex-wrap: wrap;
                justify-content: center;

                gap: 2rem;
                .item {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;

                    padding: 15rem;
                    border: 1rem solid $white;
                    border-radius: 50%;

                    width: 20rem;
                    height: 20rem;
                    text-align: center;
                    font-size: 5rem;
                    text-transform: uppercase;
                    .count {
                        color: $primary-color;
                    }
                    .text {
                        color: $white;
                    }
                }
            }
        }
        .oriental-taste-footer {
            padding: 10rem 20rem;
            height: 80vh;
            background-image: url(images/bg-footer-4k.png);

            
            background-position-y: -50vh;
            background-position-x: 0;
            
         
            background-size: 120vw 120vh;
            position: relative;
            img {
                width: 300px;
                position: absolute;
                right: 10%;
                bottom: 20%;
            }
        }
    }

    .quote {
        margin-top: 15rem;
        background: linear-gradient(0deg, rgba(218, 233, 12, 0.3), rgba(233, 164, 17, 0.774)),
            url("images/bg-quote.png");
       background-position: center;
       background-repeat: no-repeat;

        padding: 40rem 50rem;
        font-size: 2rem;
        font-weight: 500;
        text-align: center;
      
    }

    .subscribe {
        text-align: center;
        display: flex;
        flex-direction: column;
        gap: 10rem;
        padding: 20rem;
        .subscribe-form {
            
            input[type="email"] {
                border: 1px solid rgb(243, 238, 238);
                width: 50rem;
                height: 8rem;
                padding: 1rem;
                font-size: 4rem;
            }
            button {
                background-color: $primary-color;

                /*border-t használom az input és a button elem közti magasság kiküszöbölésére*/
                border: 1px solid $primary-color;
                padding: 1rem;
                text-transform: capitalize;
                height: 8rem;
                font-size: 4rem;}
        }
    }

    .footer {
        display: flex;
        background-color: $bg-color;
        color: $white;
        flex-direction: row;
        justify-content: space-around;
        h3 {
            font-family: "Roboto";
        }
        .social{
            i{
                font-size: 10rem;
            }
        }
        .text {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 5rem;
            padding-right: 2rem;
            .social {
                font-size: 3rem;
                display: flex;
                justify-content: space-between;
            }
        }
        .nav {
            ul {
                list-style-type: none;
                padding: 2rem 0;
                li {
                    padding: 0.2rem 0;
                    a {
                        font-weight: 100;
                        color: $white;
                    }
                }
            }
        }
    }
}
